<!DOCTYPE html>
{% load static %}

<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>找回密码</title>
<link href="{% static 'Css-identi/bootstrap.min.css'%}" rel="stylesheet">
<link href="{% static 'Css-identi/gloab.css'%}" rel="stylesheet">
<link href="{% static 'Css-identi/index.css'%}" rel="stylesheet">
<script src="{% static 'Scripts-identi/jquery-1.11.1.min.js'%}"></script>
<script src="{% static 'Scripts-identi/register.js'%}"></script>
<link rel="stylesheet" href="{% static 'css/semantic.css'%}" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="{% static 'custom.css'%}" media="screen" title="no title" charset="utf-8">
       
        <link type="text/css" href="{% static 'css/vendor.css'%}" rel="stylesheet">
        <link type="text/css" href="{% static 'css/common.css'%}" rel="stylesheet">
        <link type="text/css" href="{% static 'css/services.css'%}" rel="stylesheet">
        <link type="text/css" href="{% static 'css/index.css'%}" rel="stylesheet">

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{% static 'assets-register/bootstrap/css/bootstrap.min.css'%}">
		<link rel="stylesheet" href="{% static 'assets-register/css/form-elements.css'%}">
        <link rel="stylesheet" href="{% static 'assets-register/css/style.css'%}">

        <link rel="shortcut icon" href="{% static 'assets-register/ico/favicon.png'%}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'assets-register/ico/apple-touch-icon-144-precomposed.png'%}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'assets-register/ico/apple-touch-icon-114-precomposed.png'%}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'assets-register/ico/apple-touch-icon-72-precomposed.png'%}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'assets-register/ico/apple-touch-icon-57-precomposed.png'%}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css-login/dmaku.css'%}">
</head>

<body>
<div class="ui vertical basic segment masthead forget" >
<!--导航栏-->
        <div class="ui inverted fixed menu" style="height:50px;background:rgba(4, 5, 20, 0.356)">
            <div class="ui container">
            <div class="ui image"style="margin-top:10px;width:110px;"><a href="{% url 'mainin' %}">
                <img src="{% static 'images/largelogo.png '%}" alt="" /></div>
            <a href="{% url 'search' %}" class="item"><i class="inverted search icon"style=""></i>寻找饲养员</a>  
            </a>
            <a href="{% url 'identification' %}" class="item"><i class="inverted heart icon"style=""></i>成为饲养员</a>
            <a href="{% url 'multi' %}" class="item"><i class="inverted comments outline icon "style=""></i>宠物广场</a>
            <a href="{% url 'Help' %}" class="item"><i class="inverted question icon"style=""></i>帮助</a>
            
        
    
            </div>
        </div>
<!--导航栏结束-->

<!--认证-->
<div class="login-box f-mt10 f-pb50">
	<div class="main bgf">    
    	<div class="reg-box-pan display-inline">  
        	<div class="step">        	
                <ul>
                    <li class="col-xs-4 on">
                        <span class="num"><em class="f-r5"></em><i>1</i></span>                	
                        <span class="line_bg lbg-r"></span>
                        <p class="lbg-txt">身份核实</p>
                    </li>
                    <li class="col-xs-4">
                        <span class="num"><em class="f-r5"></em><i>2</i></span>
                        <span class="line_bg lbg-l"></span>
                        <span class="line_bg lbg-r"></span>
                        <p class="lbg-txt">修改密码</p>
                    </li>
                    <li class="col-xs-4">
                        <span class="num"><em class="f-r5"></em><i>3</i></span>
                        <span class="line_bg lbg-l"></span>
                        <p class="lbg-txt">重新登录</p>
                    </li>
                </ul>
            </div>
<!--details-->
       	<div class="reg-box" id="verifyCheck" style="margin-top:20px;">           	
                <div class="part2" >
                <div class="item col-xs-12">
                        <form action="/forgetpassword3/" method="POST">
                        {% csrf_token %}
                        <span class="intelligent-label f-fl"><b class="ftx04">*</b>重置密码：</span>    
                        <div class="f-fl item-ifo">
                            <input type="password" id="password" maxlength="20" class="txt03 f-r3 required" tabindex="3" style="ime-mode:disabled;" onpaste="return  false" autocomplete="off" data-valid="isNonEmpty||between:6-20||level:2" data-error="密码不能为空||密码长度6-20位||该密码太简单，有被盗风险，建议字母+数字的组合" /> 
                            <span class="ie8 icon-close close hide" style="right:55px"></span>
                            <span class="showpwd" data-eye="password"></span>                        
                            <label class="icon-sucessfill blank hide"></label>
                            <label class="focus">6-20位英文（区分大小写）、数字、字符的组合</label>
                            <label class="focus valid"></label>
                            <span class="clearfix"></span>
                            <label class="strength">
                            	<span class="f-fl f-size12">安全程度：</span>
                            	<b><i>弱</i><i>中</i><i>强</i></b>
                            </label>    
                        </div>
                    </div>
                    <div class="item col-xs-12">
                        <span class="intelligent-label f-fl"><b class="ftx04">*</b>确认密码：</span>    
                        <div class="f-fl item-ifo">
                            <input type="password" name="password" maxlength="20" class="txt03 f-r3 required" tabindex="4" style="ime-mode:disabled;" onpaste="return  false" autocomplete="off" data-valid="isNonEmpty||between:6-16||isRepeat:password" data-error="密码不能为空||密码长度6-16位||两次密码输入不一致" id="rePassword" />
                            <span class="ie8 icon-close close hide" style="right:55px"></span>
                            <span class="showpwd" data-eye="rePassword"></span>
                            <label class="icon-sucessfill blank hide"></label>
                            <label class="focus">请再输入一遍上面的密码</label> 
                            <label class="focus valid"></label>                          
                        </div>
                    </div>

                     <div class="item col-xs-12">
                        <span class="intelligent-label f-fl">&nbsp;</span>    
                        <div class="f-fl item-ifo">
                           <!--<a href="javascript:;" class="btn btn-blue f-r3" id="btn_part2">下一步</a>-->
                           <input type="submit" class="btn btn-blue f-r3" value="下一步"/>
                        </form>                         
                        </div>
                    </div> 
                </div>


<script>
function showoutc(){$(".m-sPopBg,.m-sPopCon").show();}
function closeClause(){
	$(".m-sPopBg,.m-sPopCon").hide();		
}
$(function(){	
	
		$(".part2").show();
		$(".step li").eq(1).addClass("on");
	});
</script>

</body>
</html>
